<h1>New shit!!!</h1>
{{#each model as |user|}}
<div class="user-container {{if user.active "active"}}">
	<h3>{{user.name}}</h3>
	<p> <strong>Email:</strong> {{user.email}}</p>
	<p> <strong>Acitve:</strong> {{user.active}}</p>
	<button {{action 'toggleActive' user}}>Toggle Active</button>
</div>
{{/each}}